**/.vs
**/.vscode
!launch.json
!tasks.json
**/.idea
**/obj
**/bin
**/Web.Debug.config
**/Web.Release.config
**/packages
**/node_modules
**/[Dd]ebug
**/[Rr]elease
logs/*
!logs/.gitkeep
.gitlab-ci.yml
.k/
*.user
**/Logs/*.txt

/pgadmin/pgadmin4.db
